---
import HeaderMain from "../components/HeaderMain.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Tesla-landing">
  <main>
    <HeaderMain />
    <HeroSection />
  </main>
</Layout>

<style></style>
