<section class="h-screen w-screen text-center relative overflow-hidden">
  <div class="z-30 flex flex-col h-full relative">
    <header>
      <h2 class="text-white font-medium pt-40 text-4xl">Disfrute de Tesla</h2>
      <p class="text-white text-xs">
        Programe para una prueba de conducción hoy mismo
      </p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-24">
      <div>
        <a
          href="#"
          class="text-white text-sm border-white bg-white/5 backdrop-blur-sm border-[2px] px-12 font-medium py-2 rounded hover:bg-white hover:text-black transition-color"
          >Prueba de conducción</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0">
    <video
      class="object-center object-cover w-full h-full"
      autoplay
      muted
      loop
      src="/video-bg.mp4"></video>
  </div>
</section>
